<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advance Job Search</title>
    <script src="/Scripts/Common.js"></script>
    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/vendor/jquery.viewloader.js"></script>
    <script src="/Scripts/vendor/knockout-3.0.0.js"></script>
    <script src="/Scripts/vendor/knockout.validation.js"></script>
    <script src="/Scripts/jobseeker.js"></script>
    <script src="/Scripts/viewmodel/advancedJobSearch.js"></script>
    <script src="/Scripts/JobSeeker/FilteredJob.js"></script>
    <script src="/Scripts/JobSeeker/SkillScoreCalculation.js"></script>
    
    <script src="/Scripts/Auth/app.datamodel.js"></script>
    <script src="/Scripts/Auth/app.viewmodel.js"></script>

    <!--jQuery References-->
    <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>

    <link type="text/css" href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.3.5.min.css" rel="stylesheet"type="text/css" />
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.2.3.5.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.3.5.min.js" type="text/javascript"></script>

    <!-- Multi-select widget (not Wijmo control)-->
    <script src="/Scripts/jquery.multiselect.js"></script>
    <link href="/Content/jquery.multiselect.css" rel="stylesheet" />

    <!-- KnockoutJS for MVVM-->
    <script type="text/javascript" src="http://cdn.wijmo.com/external/knockout-2.0.0.js"></script>
    <script type="text/javascript" src="http://cdn.wijmo.com/external/knockout.wijmo.js"></script>
       
    <link href="/Content/skillsmart.css" rel="stylesheet" />
    <link href="/Content/skillsmart.wijmo.css" rel="stylesheet" />
    <link href="/Content/jobseekerstyle.css" rel="stylesheet" />
    <link href="/Content/common.css" rel="stylesheet" />

    <style>
        .wijmo-wijexpander .ui-expander-header .ui-icon {
            left: 77.5em;
            margin-top: -8px;
            position: absolute;
            top: 50%;
        }
        .element.style {
            width: 185.667px;
        }
    </style>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="wrapHeader">
            <div id="header"></div>
        </div>
        <div id="content">
            <div id="main-div">
                <section class="sectionModified box box-white">
                    <h1 class="box-header">
                         Search Jobs 
                    </h1>                
                    <section>
                        <div class="common_background"  data-bind="template: { name: 'JobSearch' }">               
                        </div>  
                        <!-- ko if: listJobs() == '1' -->
                        <div  data-bind="template: { name: 'JobsList' }">               
                        </div>   
                        <!-- /ko -->  
                    </section>
                </section>
            </div>
        </div>
        <div id="wrapFooter">
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>
