<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JobSeeker List</title>
    <link rel="stylesheet" href="/Content/common.css" />
    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/vendor/knockout-3.0.0.js"></script>
    <script src="/Scripts/vendor/jquery.viewloader.js"></script>
    <script src="/Scripts/viewmediator/skillsmart.mediator.jobseekerlist.js"></script>
    <script src="/Scripts/vendor/knockout.validation.js"></script>
    <script src="/Scripts/vendor/knockout.mapping-latest.js"></script>
    <script>
        $(document).ready(function () {
            if (typeof (skillsmart) == 'undefined') skillsmart = {}
            if (typeof (skillsmart.model) == 'undefined') skillsmart.model = {}
            if (typeof (skillsmart.mediator) == 'undefined') skillsmart.mediator = {}

            function InitializeApplication() {
                $(document).viewloader({
                    logLevel: "debug",
                    success: function (successfulResolution) {
                        InitializeViewMediators();
                    },
                    error: function (failedResolution) {
                        alert(failedResolution);
                    }
                });
            }
            function InitializeViewMediators() {
                skillsmart.mediator.jobseekerlist.setupViewDataBindings();
            }
            InitializeApplication();
        });
    </script>    
</head>
<body>
     <div id="outer_container" >       
        <div id="banner_container"><h2>SkillSmart</h2>
            <div><a href="JobSeekerRegistration.html"><font color="white">JobSeeker Registration</font></a>    <a href="JobSeekerList.html"><font color="white">JobSeeker List</font></a></div>
        </div>           
        <div id="form_div" >

            <ul>
                <li style="width:830px;float:left;">
                    <ul style="width:830px;float:left;">
                        <li style="width:120px;float:left;"><b>FirstName</b></li>
                        <li style="width:130px;float:left;"><b>LastName</b></li>
                        <li style="width:180px;float:left;"><b>Email</b></li>
                        <li style="width:150px;float:left;"><b>Birthday</b></li>                        
                        <li style="width:75px;float:left;"><b>Edit</b></li>
                        <li style="width:75px;float:left;"><b>Delete</b></li>
                    </ul>
                </li>
                <li class="li_style">
                    <ul style="width:830px;float:left;"  data-bind="foreach: persons">
                        <li style="width:120px;float:left;"><label data-bind="text: FirstName"></label></li>
                        <li style="width:130px;float:left;" data-bind="text: LastName"></li>
                        <li style="width:180px;float:left;" data-bind="text: Email"></li>
                        <li style="width:150px;float:left;" data-bind="text: Birthday"></li>
                        <li style="width:75px;float:left;"><a data-bind="attr: { href: EditUrl }">Edit</a></li>
                        <li style="width:75px;float:left;"><a data-bind="attr: { href: DeleteUrl }">Delete</a></li>
                    </ul>
                </li>
            </ul>                       
        </div>
    </div>
</body>
</html>
