<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JobSeeker Registration</title>
    <link rel="stylesheet" href="../../Content/common.css" />
    <script src="../../Scripts/jquery-1.6.2.min.js"></script>
    <script src="../../Scripts/knockout-3.0.0.js"></script>
    <script src="../../Scripts/JobSeekerRegistration.js?a=1"></script>
    <script src="../../Scripts/knockout.validation.js"></script>
</head>
<body>
     <script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
</script>
  <div id="outer_container" >       
        <div id="banner_container"><h2>SkillSmart</h2>
            <div><a  href="JobSeekerRegistration.html"><font color="white">JobSeeker Registration</font></a>    <a  href="JobSeekerList.html"><font color="white">JobSeeker List</font></a></div>
        </div>           
        <div id="form_div" >
            <h3 align="center">JobSeeker Registration</h3>
            <ul>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>First Name<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="text" class="inputs" placeholder="First Name" data-bind='value: employee.firstname, valueUpdate: "change"' required="required" /></li>
                    </ul>
                </li>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>Last Name<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="text" class="inputs" placeholder ="Last Name" data-bind='value: employee.lastname, valueUpdate: "afterkeydown"' required="required"/></li>
                    </ul>
                </li>                 
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>Birthday<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="text"  class="inputs" placeholder="Birthday" data-bind=' value: employee.birthday, valueUpdate: "change"' required="required"/></li>
                    </ul>
                </li>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>Email<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="text" class="inputs" placeholder="Email" data-bind='value: employee.email, valueUpdate: "change"' required="required" /></li>
                    </ul>
                </li>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>User Name<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="text" class="inputs" placeholder="User Name" data-bind='value: employee.username,valueUpdate:"change"' /></li>
                    </ul>
                </li>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>Password<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="password" class="inputs" placeholder="Password" data-bind='value: employee.password, valueUpdate: "afterkeydown"' required="required" /></li>
                    </ul>
                </li>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><label>Password confirm<sup>*</sup></label></li>
                        <li style="width:200px;float:left;"><input type="password" class="inputs" placeholder="Password confirm" data-bind='value: employee.passwordconfirm, valueUpdate: "change"' required="required"/></li>
                    </ul>
                </li>
                <li style="width:600px;float:left;" class="marginclass">
                    <ul style="width:600px;float:left;">
                        <li style="width:200px;float:left;"><input type="submit" value="Create Account" class="submitbutton" data-bind="click: submit" /></li>
                        <li style="width:200px;float:left;"><input type="button" value="Reset" class="resetbutton" data-bind="click: reset" /></li>
                    </ul>
                </li>
            </ul>
        </div>
</div>
</body>
</html>
