<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JobSeeker Registration</title>
    <link rel="stylesheet" href="/Content/common.css" />   
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/demos/style.css" />

    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/vendor/jquery.viewloader.js"></script>
    <script src="/Scripts/vendor/knockout-3.0.0.js"></script>
    <script src="/Scripts/vendor/knockout.validation.js"></script>
    <script src="/Scripts/vendor/jquery-ui.js"></script>
    <script src="/Scripts/viewmodel/skillsmart.model.jobseekerregistration.js"></script>
    <script src="/Scripts/viewmediator/skillsmart.mediator.jobseekerregistration.js"></script>  
    <script src="/Scripts/vendor/knockout.validation.debug.js"></script>  
    <script src="/Scripts/vendor/knockout.mapping-latest.js"></script>
    <script>
        $(document).ready(function () {
            if (typeof (skillsmart) == 'undefined') skillsmart = {}
            if (typeof (skillsmart.model) == 'undefined') skillsmart.model = {}
            if (typeof (skillsmart.mediator) == 'undefined') skillsmart.mediator = {}

           /* $(function () {
                $("#birth-day").datepicker({ dateFormat: "dd/mm/yy" });
            });*/

            function InitializeApplication() {
                $(document).viewloader({
                    logLevel: "debug",
                    success: function (successfulResolution) {
                        InitializeViewMediators();
                    },
                    error: function (failedResolution) {
                        alert(failedResolution);
                    }
                });                
            }
            function InitializeViewMediators() {
                skillsmart.mediator.jobseekerregistration.createViewMediator();
                skillsmart.mediator.jobseekerregistration.setupViewDataBindings();
            }
            InitializeApplication();
       });
    </script>
</head>
<body>
<script id="customMessageTemplate" type="text/html">
    <em class="customMessage" data-bind='validationMessage: field'></em>
	</script>
  <div id="outer_container" >       
    <div id="banner_container"><h2>SkillSmart</h2>
        <div><a  href="JobSeekerRegistration.html"><font color="white">JobSeeker Registration</font></a>    <a  href="JobSeekerList.html"><font color="white">JobSeeker List</font></a>       <a href="JobSeekerAdditionalInformation.html"><font color="white">JobSeeker AdditionalInformation</font></a></div>
    </div>           
    <div id="jobseeker-registration">
    <h3>JobSeeker Registration</h3>
    <ul>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>First Name<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="text" id="first-name" class="inputs" placeholder="First Name" /></li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Last Name<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="text" id="last-name" class="inputs" placeholder ="Last Name" /></li>
            </ul>
        </li>                 
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Birthday<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="text" id="birth-day" class="inputs" placeholder="Birthday" /></li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Email<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="text" id="email-address" class="inputs" placeholder="Email" /></li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>User Name<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="text" id="user-name" class="inputs" placeholder="User Name"  /></li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Password<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="password" id="password" class="inputs" placeholder="Password"  /></li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Password confirm<sup>*</sup></label></li>
                <li style="width:200px;float:left;"><input type="password" id="confirm-password" class="inputs" placeholder="Password confirm" /></li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Gender<sup>*</sup></label></li>
                <li style="width:100px;float:left;"><input type="radio" name="Gender" value="m" class="gender"/>Male</li>
                <li style="width:100px;float:left;"><input type="radio" name="Gender" value="f" class="gender"/>Female</li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><label>Method of Contact<sup>*</sup></label></li>
                <li style="width:100px;float:left;"><input type="checkbox"  value="Mobile" class="contact"/>Mobile</li>
                <li style="width:100px;float:left;"><input type="checkbox"  value="Email" class="contact"/>Email</li>
            </ul>
        </li>
        <li style="width:600px;float:left;" class="marginclass">
            <ul style="width:600px;float:left;">
                <li style="width:200px;float:left;"><input type="submit" id="submit-button" value="Create Account" class="submitbutton"  /></li>
                <li style="width:200px;float:left;"><input type="button" id="reset-button" value="Reset" class="resetbutton"  /></li>
            </ul>
        </li>
    </ul>
</div>
</div>
</body>
</html>
