<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JobSeeker MyInformation</title>
    <link rel="stylesheet" href="/Content/common.css" />
    <link href="/Content/jobseekerstyle.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/demos/style.css"/>


    <script src="/Scripts/vendor/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/vendor/jquery.viewloader.js"></script>
    <script src="/Scripts/vendor/jquery-ui.js"></script>
    <script src="/Scripts/vendor/knockout-3.0.0.js"></script>
    <script src="/Scripts/vendor/knockout.validation.js"></script>
    <script src="/Scripts/Common.js"></script>
    <script src="/Scripts/viewmodel/skillsmart.model.jobseekermyinformation.js"></script>
    <script src="/Scripts/viewmediator/skillsmart.mediator.jobseekermyinformation.js"></script>

     <script>
         $(function () {
             $("#tabs").tabs();
         });

         $(document).ready(function () {
             $('#footer').load('/Views/Shared/Footer.html');
             if (typeof (skillsmart) == 'undefined') skillsmart = {}
             if (typeof (skillsmart.model) == 'undefined') skillsmart.model = {}
             if (typeof (skillsmart.mediator) == 'undefined') skillsmart.mediator = {}

             function InitializeApplication() {
                 $(document).viewloader({
                     logLevel: "debug",
                     success: function (successfulResolution) {
                         InitializeViewMediators();
                     },
                     error: function (failedResolution) {
                         alert(failedResolution);
                     }
                 });
             }
             function InitializeViewMediators() {
                 skillsmart.mediator.jobseekermyinformation.createViewMediatorMyInformation();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsMyInformation();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorPersonalInformation();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsPersonalInformation();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorAboutMe();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsAboutMe();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorAwardsInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsAwardsInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorAwardsListing();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsAwardsListing();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorActivitiesInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsActivitiesInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorActivitiesListing();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsActivitiesListing();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorLanguagesInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsLanguagesInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorLanguagesListing();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsLanguagesList();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorWorkExperienceInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsWorkExperienceInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorWorkExperienceList();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsWorkExperienceList();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorEducationInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsEducationInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorEducationList();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsEducationList();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorTrainingCourseInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsTrainingCourseInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorTrainingCourseList();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsTrainingCourseList();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorCertificationInsertion();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsCertificationInsertion();

                 skillsmart.mediator.jobseekermyinformation.createViewMediatorCertificationList();
                 skillsmart.mediator.jobseekermyinformation.setupViewDataBindingsCertificationList();


             }
             InitializeApplication();
         });
         function DisplayAddHoldingsDialog() {
             $("#ManageHoldingsFrame").attr('src', "/Views/JobSeeker/PopupSkills.html");
             $('#ManageHoldingsDiv').dialog(
                 {
                     open: function () {
                         $(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar").css("background-color", "#C4E1F1");
                     },
                     width: 950,
                     minWidth: 700,
                     minHeight: 380,
                     modal: true,
                     hideTitleBar: false,
                     resizable: true,
                     title: "Add Holding",
                     closeOnEscape: true,
                     close: function (event, ui) { $(this).dialog('destroy'); },
                     buttons: {
                         'Close': function () {

                             $(this).dialog('destroy');
                         }
                     }
                 });

             $("#ManageHoldingsFrame").show();
         }
    </script>
</head>
<body>
     <div id="ManageHoldingsDiv" style="text-align:left;vertical-align:middle;display:none;overflow:hidden;">
		<iframe id="ManageHoldingsFrame" style="height:420px;width:905px;overflow:hidden;" ></iframe>
	</div>
    <div id="outer_container" >       
        <div id="banner_container"><h2>SkillSmart</h2>
            <div><a  href="JobSeekerRegistration.html">JobSeeker Registration</a>    <a  href="JobSeekerList.html">JobSeeker List</a>       </div>
        </div>
        <div id="main-div">
            <div id="jobseeker-myinformation">
                <div class="myinformation"><h3>My Information</h3></div>                                      
                <div id="jobseeker-info" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_outerli">
                            <ul class="jobseeker_myinformation_ul" >
                                <li class="jobseeker_myinformation_innerli"><label id="name"></label></li>
                            </ul>
                            <ul class="jobseeker_myinformation_ul" >
                                <li class="jobseeker_myinformation_innerli"><label>Lives in </label><label id="address"></label></li>
                            </ul>
                        </li>
                        <li class="jobseeker_myinformation_outerli">
                            <ul class="jobseeker_myinformation_ul">
                                <li class="jobseeker_myinformation_innerli"><label>11 years of experience</label></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="personal-information">               
                <div  class="common_banner">
                    <ul><li class="marginclass">Personal Information<input type="button" id="edit" value="Edit" class="editbutton" /><input type="button" id="submit" value="Submit" class="editbutton" /></li></ul>
                </div>
               <div id="personal_general_div" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_descriptionli">
                             Tell us about yourself!
                        </li>
                        <li class="jobseeker_myinformation_exampleli" >
                            Say something about your industries,specialities,etc.
                        </li>
                        <li class="jobseeker_myinformation_buttonli">
                            <input type="button" id="Add_First_personalInformation" class="submitbutton" value="Add Information" />
                        </li>
                    </ul>                              
                </div>

                <div id="personal-container" class="common_background" >
                    <ul>
                        <li class="jobseeker_myinformation_personalcontainer_outerli">
                            <ul class="jobseeker_myinformation_personalcontainer_ul">
                                <li class="jobseeker_myinformation_innerli" ><label>Industries</label></li>
                                <li class="jobseeker_myinformation_innerli" ><label>Specialities</label></li>
                                <li class="jobseeker_myinformation_innerli"><label>Security Clearance</label></li>
                                <li class="jobseeker_myinformation_innerli" ><label>Willing to relocate</label></li>
                            </ul>
                        </li>
                        <li class="jobseeker_myinformation_personalcontainer_outerli">
                            <ul class="jobseeker_myinformation_personalcontainer_ul">
                                <li class="jobseeker_myinformation_innerli" ><label id="industries-label"></label></li>
                                <li class="jobseeker_myinformation_innerli"><label id="speciality-label"></label></li>
                                <li class="jobseeker_myinformation_innerli" ><label id="SecurityCleareanceLabel-label"></label></li>
                                <li class="jobseeker_myinformation_innerli" ><label id="WillingToRelocateLabel-label"></label></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
                <div id="edit-personal-information" class="common_background" >
                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                        <li data-bind="text: $data"></li>
                    </ul>
                    <ul>
                        <li class="jobseeker_myinformation_personalcontainer_outerli">
                            <ul class="jobseeker_myinformation_personalcontainer_ul">
                                <li class="jobseeker_myinformation_innerli" ><label>Industries</label></li>
                                <li class="jobseeker_myinformation_innerli" ><label>Specialities</label></li>
                                <li class="jobseeker_myinformation_innerli" ><label>Security Clearance</label></li>
                                <li class="jobseeker_myinformation_innerli" ><label>Willing to relocate</label></li>
                            </ul>
                        </li>
                        <li class="jobseeker_myinformation_edit_personal_li">
                            <ul class="jobseeker_myinformation_edit_personal_ul">
                                <li><input type="hidden" id="JobseekerPersonalinfoId"  /></li>
                                <li><input type="hidden" id="overviewIdPersonalInfo"  /></li>
                                <li class="jobseeker_myinformation_innerli" ><input type="text" id="industries-textbox"  /></li>
                                <li class="jobseeker_myinformation_innerli" ><input type="text" id="speciality-textbox"  /></li>
                                <li class="jobseeker_myinformation_innerli" ><select id="securityCleareanceDropDown" ></select></li>
                                <li class="jobseeker_myinformation_innerli" ><select id="willingToRelocateDropDown" ></select></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
            </div>
            <div id="aboutme_main_div">
                <div class="common_banner">
                   <ul><li class="marginclass"> About Me<input type="button" class="editbutton" id="submit-pitch" value="Submit" /> <input type="button" class="editbutton" id="edit-pitch" value="Edit" /></li></ul>
                </div>
                <div id="aboutme_div" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_descriptionli">
                             Your elevator pitch about yourself!
                        </li>
                        <li class="jobseeker_myinformation_exampleli" >
                            Say something about your skills,strength,goals,etc.
                        </li>
                        <li class="jobseeker_myinformation_buttonli">
                            <input type="button" id="pitch-yourself" class="submitbutton" value="Pitch Yourself" />
                        </li>
                    </ul>                              
                </div>
                <div id="edit_aboutme_div" class="common_background">
                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                        <li data-bind="text: $data"></li>
                    </ul>
                    <ul>
                        <li><input type="hidden" id="overviewIdSummary"  /></li>
                        <li><input type="hidden" id="jobSeekerSummary"  /></li>
                        <li>
                            <textarea id="aboutme" placeholder="Maximum 500 characters" class="common_textarea"></textarea>
                        </li>
                    </ul>
                </div>
                <div id="show_aboutme_div" class="common_background">
                    <ul>
                        <li>
                            <label id="show-summary"></label>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="common_banner">
                    <ul>
                        <li class="marginclass">Professional Experience</li>
                    </ul>
                </div>
                <div id="tabs" class="tab_style">
                    <ul>
                        <li><a href="#tabs-1">Work Experience</a></li>
                        <li><a href="#tabs-2">Education</a></li>
                        <li><a href="#tabs-3">Certifications</a></li>
                        <li><a href="#tabs-4">Courses</a></li>
                    </ul>
                    <div id="tabs-1" >
                        <div id="WorkExperienceInsertionDiv">
                            <li><input  type="button" id="addMoreWorkHistory" class="editbutton" value="Add More" /></li>
                            <div id="WorkExperience_General" class="common_tab_background">
                            <ul>
                                <li class="jobseeker_myinformation_descriptionli">
                                     Tell us about your work experience.
                                </li>
                                <li class="jobseeker_myinformation_exampleli" >
                                    work details, company details etc.
                                </li>
                                <li class="jobseeker_myinformation_buttonli">
                                    <input type="button" id="addFirstWork" class="submitbutton" value="Add Details" />
                                </li>
                            </ul>           
                        </div>
                            <div class="common_tab_background">
                                <div id="Edit_WorkExperience" class="tab_savebackground_div">
                                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                                        <li data-bind="text: $data"></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <ul>
                                                <li><input type="hidden" id="JobSeekerIdWork"  /></li>
                                            </ul>
                                        </li>
                                         <li>
                                             <ul>
                                                <li><input type="hidden" id="workHistoryId"  /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><input type="text" id="CompanyName" placeholder="Company Name" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><input type="text" id="CurrentPosition" placeholder="Current Position" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><input type="text" id="StartDate" placeholder="Start Date" class="inputs" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="text" id="EndDate" placeholder="End Date" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><input type="text" id="CompanyLocation" placeholder="Company Location" class="inputs" /></li>
                                            </ul>
                                        </li>
                                         <li class="jobseeker_additionalinformation_city_outerli">
                                            <ul class="jobseeker_additionalinformation_city_ul" >
                                                <li  class="jobseeker_additionalinformation_innerli"><input type="text" id="CurrentSalary" placeholder="Current Salary" class="inputs" /></li>
                                                <li  class="jobseeker_myinformation_innerli"><input type="radio" name="salary" value="Annually" class="salary" id="Annually"/>Annually</li>
                                                <li  class="jobseeker_myinformation_innerli"><input type="radio" name="salary" value="Monthly" class="salary" id="Monthly"/>Monthly</li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><select id="EmploymentType" class="jobseeker_myinformation_select" ></select></li>
                                                <li class="jobseeker_myinformation_innerli"><select id="IndustryType" class="jobseeker_myinformation_select" ></select></li>
                                            </ul>
                                        </li>
                                         <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli">
                                                    <textarea id="JobDuties" placeholder="Job Description" class="common_textarea"></textarea>
                                                </li>
                                                </ul>
                                         </li>
                                       <li class="jobseeker_additionalinformation_city_outerli">
                                            <ul class="jobseeker_additionalinformation_city_ul" >
                                                <li  class="jobseeker_additionalinformation_innerli_save_button"><input type="button" id="save_workExperience" class="savebutton" value="Save" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="button" id="cancel_workExperience" class="cancelbutton" value="Cancel" /></li>
                                                <li ><input type="button" id="delete_workExperience" class="deletebutton" value="Delete" /></li>
                                            </ul>
                                        </li>
                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="List_WorkExperience" class="common_tab_background">                                                                                                
                            <div  data-bind="foreach: workHistory">
                                <div class="jobseeker_myinformation_list_tab_main_div">
                                    <div class="jobseeker_myinformation_list_tab_sub_div">
                                        <li ><label class="jobseeker_myinformation_list_tab_workExperience_label"  data-bind="text: companyName"></label><button class="individual_editbutton_tab" data-bind="    click: $parent.editWorkHistoryDetails">Edit</button></li>                                           
                                        <li ><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: currentPosition"></label></li>
                                        <li ><label  data-bind="text: startDate"></label> - <label data-bind="    text: endDate"></label> / <label  data-bind="    text: companyLocation"></label></li>                                                                                  
                                        <hr />
                                        <li ><label class="jobseeker_myinformation_list_tab_label">Salary: </label><label  data-bind="text: currentSalary"></label> <label data-bind="    text: salaryType"></label></li>
                                        <li ><label class="jobseeker_myinformation_list_tab_label">Employment Type: </label><label  data-bind="text: workTypeName"></label></li>
                                        <li ><label class="jobseeker_myinformation_list_tab_label">Industries: </label><label  data-bind="text: industryTypeName"></label></li>
                                        <li ><label class="jobseeker_myinformation_list_tab_label">Job Duties: </label><label  data-bind="text: jobDescription"></label></li>
                                        <hr />    
                                        <li>Related Skill <button onclick='DisplayAddHoldingsDialog()' class="related_skillButton" >+</button></li>                                        
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div id="EducationInsertionDetailsDiv">
                            <li><input  type="button" id="addMoreEducation" class="editbutton" value="Add More" /></li>
                            <div id="Education_General" class="common_tab_background">
                                <ul>
                                    <li class="jobseeker_myinformation_descriptionli">
                                         Tell us about your Educational Details.
                                    </li>
                                    <li class="jobseeker_myinformation_exampleli" >
                                        Where you study, Degree details etc.
                                    </li>
                                    <li class="jobseeker_myinformation_buttonli">
                                        <input type="button" id="add_First_Education" class="submitbutton" value="Add Details" />
                                    </li>
                                </ul>           
                            </div>
                            <div class="common_tab_background">
                                <div id="Edit_Education" class="tab_savebackground_div">
                                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                                        <li data-bind="text: $data"></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <li><input type="hidden" id="JobseekerEducationId"  /></li>
                                        </li>
                                        <li>
                                            <input type="hidden" id="EducationId"  />
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><input type="text" id="University" placeholder="University Name" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><select id="Degree" class="jobseeker_myinformation_select" ></select></li>
                                                 <li class="jobseeker_myinformation_innerli" style="padding-top:10px;"><input type="text" id="Major_Focus" placeholder="Major Focus" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><input type="text" id="StartDateDegree" placeholder="Start Date" class="inputs" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="text" id="EndDataeDegree" placeholder="End Date" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><input type="text" id="UniversityLocation" placeholder="University Location" class="inputs" /></li>
                                            </ul>
                                        </li>
                                         
                                    
                                        <li class="jobseeker_additionalinformation_city_outerli">
                                            <ul class="jobseeker_additionalinformation_city_ul" >
                                                <li  class="jobseeker_additionalinformation_innerli_save_button"><input type="button" id="save_Education" class="savebutton" value="Save" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="button" id="cancel_Education" class="cancelbutton" value="Cancel" /></li>
                                                <li ><input type="button" id="delete_Education" class="deletebutton" value="Delete" /></li>
                                            </ul>
                                        </li>
                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="List_Education" class="common_tab_background">                         
                            <div  data-bind="foreach: education">
                                <div class="jobseeker_myinformation_list_tab_main_div">
                                    <div class="jobseeker_myinformation_list_tab_sub_div">
                                        <li><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: universityName"></label><button class="individual_editbutton_tab" data-bind="    click: $parent.editEducationDetails">Edit</button></li>                                    
                                        <li><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: degreeName"></label>, <label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="    text: majorFocus"></label></li>
                                        <li><label  data-bind="text: startDate"></label> - <label  data-bind="    text: endDate"></label> / <label  data-bind="    text: universityLocation"></label></li>                                
                                    </div>
                                </div>
                            </div>                                                               
                        </div>
                    </div>
                    <div id="tabs-3">
                        <div id="CertificationInsertionDetailsDiv">
                            <li><input  type="button" id="addMoreCertification" class="editbutton" value="Add More" /></li>
                            <div id="Certification_General" class="common_tab_background">
                                <ul>
                                    <li class="jobseeker_myinformation_descriptionli">
                                            Tell us about your Certification Details.
                                    </li>
                                    <li class="jobseeker_myinformation_exampleli" >
                                        Where you took it, Certification details etc.
                                    </li>
                                    <li class="jobseeker_myinformation_buttonli">
                                        <input type="button" id="addFirstCertification" class="submitbutton" value="Add Details" />
                                    </li>
                                </ul>           
                            </div>

                            <div class="common_tab_background">
                                <div id="Edit_Certification" class="tab_savebackground_div">
                                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                                        <li data-bind="text: $data"></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <li><input type="hidden" id="JobseekerCertificationId"  /></li>
                                        </li>
                                        <li>
                                            <input type="hidden" id="CertificationId"  />
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><input type="text" id="Certification_Name" placeholder="Certification" class="inputs" /></li>
                                                <li  class="jobseeker_myinformation_innerli"><input type="checkbox" id="Certification_currently_Enrolled" />Currently Enrolled</li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><input type="text" id="Certification_Institution" placeholder="Institution/Association" class="inputs" /></li>                                               
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">                                                
                                                 <li class="jobseeker_additionalinformation_innerli"><input type="text" id="certification_completed_date" placeholder=" Completed Date" class="inputs" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="text" id="expires" placeholder="Expires" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><textarea id="Certification_Details" placeholder=" Details" class="inputs"></textarea></li>                                                
                                            </ul>
                                        </li>                                                                                                                  
                                        <li class="jobseeker_additionalinformation_city_outerli">
                                            <ul class="jobseeker_additionalinformation_city_ul" >
                                                <li  class="jobseeker_additionalinformation_innerli_save_button"><input type="button" id="save_certification" class="savebutton" value="Save" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="button" id="cancel_certification" class="cancelbutton" value="Cancel" /></li>
                                                <li><input type="button" id="delete_certification" class="deletebutton" value="Delete" /></li>
                                            </ul>
                                        </li>                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="List_Certification" class="common_tab_background">                         
                            <div  data-bind="foreach: certification">
                                <div class="jobseeker_myinformation_list_tab_main_div">
                                    <div class="jobseeker_myinformation_list_tab_sub_div">
                                        <li><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: certificationName"></label><button class="individual_editbutton_tab" data-bind="    click: $parent.editCertificationDetails">Edit</button></li>                                    
                                        <li><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: certificationInstituion"></label></li>
                                        <li><label  data-bind="text: completedDate"></label> - <label  data-bind="    text: expireDate"></label></li>    
                                        <li><label  data-bind="text: certificationDetails"></label></li>
                                    </div>
                                </div>
                            </div>                                                               
                        </div>
                    </div>
                    <div id="tabs-4">
                        <div id="TrainingCourse_InsertionDetails_Div">
                           <li><input  type="button" id="addMoreTrainingCourse" class="editbutton" value="Add More" /></li>
                            <div id="TrainingCourse_General" class="common_tab_background">
                                <ul>
                                    <li class="jobseeker_myinformation_descriptionli">
                                         Tell us about your Training Course Details.
                                    </li>
                                    <li class="jobseeker_myinformation_exampleli" >
                                        Where you study, Training details etc.
                                    </li>
                                    <li class="jobseeker_myinformation_buttonli">
                                        <input type="button" id="addFirstTrainingCourse" class="submitbutton" value="Add Details" />
                                    </li>
                                </ul>           
                            </div>
                            <div class="common_tab_background">
                                <div id="Edit_TrainingCourse" class="tab_savebackground_div">
                                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                                        <li data-bind="text: $data"></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <li><input type="hidden" id="JobseekerTrainigId"  /></li>
                                        </li>
                                        <li>
                                            <input type="hidden" id="TrainingId"  />
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><select id="Program_Type" class="jobseeker_myinformation_select" ></select></li>
                                                <li class="jobseeker_myinformation_innerli" style="padding-top:10px;"><input type="checkbox" id="Currently_Enrolled"  />Currently Enrolled</li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><input type="text" id="Focus" placeholder="Focus" class="inputs" /></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><input type="text" id="TrainingCourse_Institution" placeholder="Institution/Association" class="inputs" /></li>                                                
                                            </ul>
                                        </li>  
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_additionalinformation_innerli"><input type="text" id="Training_ExpiresDate" placeholder="Expires" class="inputs" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="text" id="Completion_Date" placeholder="Completion Date" class="inputs" /></li>
                                            </ul>
                                        </li> 
                                        <li class="jobseeker_registration_outerli">
                                            <ul class="jobseeker_registration_ul">
                                                <li class="jobseeker_registration_innerli"><textarea id="Training_Details" placeholder="Details" class="common_textarea"></textarea></li>
                                            </ul>
                                        </li>
                                        <li class="jobseeker_additionalinformation_city_outerli">
                                            <ul class="jobseeker_additionalinformation_city_ul" >
                                                <li class="jobseeker_additionalinformation_innerli_save_button"><input type="button" id="Save_TrainingCourse" class="savebutton" value="Save" /></li>
                                                <li class="jobseeker_myinformation_innerli"><input type="button" id="Cancel_TrainingCourse" class="cancelbutton" value="Cancel" /></li>
                                                <li><input type="button" id="Delete_TrainingCourse" class="deletebutton" value="Delete" /></li>
                                            </ul>
                                        </li>                        
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="List_TrainingCourse" class="common_tab_background">                                                                                                
                            <div  data-bind="foreach: trainingCourse">
                                <div class="jobseeker_myinformation_list_tab_main_div">
                                    <div class="jobseeker_myinformation_list_tab_sub_div">
                                        <li ><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: programTypeName"></label>,<label class="jobseeker_myinformation_list_tab_workExperience_label"  data-bind="    text: focus"></label><button class="individual_editbutton_tab" data-bind="    click: $parent.editTrainingCourseDetails">Edit</button></li>                                           
                                        <li><label  data-bind="text: expiryDate"></label> - <label  data-bind="    text: completionDate "></label>
                                         <li><label  data-bind="text: trainingDetails"></label></li>                                           
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
            <div id="award_insertion">
                <div class="common_banner">
                    <ul>
                        <li class="marginclass">Awards & Recognition 
                        <input type="button" id="addmore-awards" value="Add More" class="editbutton" />
                        <input type="button" id="edit-awards" value="Edit" class="editbutton" />

                        </li>
                    </ul>
                </div>
                <div id="awards_general" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_descriptionli">
                             Tell us about some awards you've won.
                        </li>
                        <li class="jobseeker_myinformation_exampleli" >
                            Rookie of the Year,Best Team Player,etc.
                        </li>
                        <li class="jobseeker_myinformation_buttonli">
                            <input type="button" id="add-allocades" class="submitbutton" value="Add Accolades" />
                        </li>
                    </ul>           
                </div>
                <div class="common_background">
                    <div id="edit_awards_div" class="add_div">
                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                        <li data-bind="text: $data"></li>
                    </ul>
                        <ul>
                            <li>
                                <input type="hidden" id="awards-id"  />
                            </li>
                             <li>
                                <input type="hidden" id="jobseekerId"  />
                            </li>
                            <li>
                                <input type="text" id="awards-title" placeholder="Title" class="inputs" />
                            </li>
                            <li>
                                <textarea id="awards-description" placeholder="Description" class="inputs"></textarea>
                            </li>
                            <li>
                                <input type="button" id="submit-awards" class="savebutton" value="Save" />
                                <input type="button" id="cancel-awards" class="cancelbutton" value="Cancel" />
                                <input type="button" id="delete-awards" class="deletebutton" value="Delete" />
                            </li>
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div id="award_list">
                <div id="List-awards" class="common_background">
                    <ul>
                        <li  class="jobseeker_list_li_ul">
                            <ul class="jobseeker_list_li_ul"  data-bind="foreach: awards">
                                <li  class="jobseeker_list_innerli"><label class="language_label" data-bind="text: ScholarshipTitle"></label></li>
                            </ul>
                        </li>
                    </ul>            
                </div>
                <div id="edit-modeList" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_language_list_li_ul" >
                            <ul class="jobseeker_myinformation_language_list_li_ul"  data-bind="foreach: awards">
                                <li class="jobseeker_myinformation_language_list_inner_li" data-bind="text: ScholarshipTitle"></li>
                                <li ><button class="individual_editbutton" data-bind="click: $parent.editAwardDetails">Edit</button></li>
                                <hr />
                            </ul>
                        </li>
                    </ul>            
                </div>
            </div>
            <div id="activities_insertion_div">
                <div class="common_banner">
                <ul>
                    <li class="marginclass">Activities & Hobbies<input type="button" id="addmore-activities" value="Add More" class="editbutton" />
                        <input type="button" id="edit-activities" class="editbutton" value="Edit" />
                    </li>
                </ul>
                </div>
                <div id="activities_general_div" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_descriptionli">
                             What do you like to do when you're not working?
                        </li>
                        <li class="jobseeker_myinformation_exampleli" >
                            Soccer,marathon,cycling,drawing,reading,etc.
                        </li>
                        <li class="jobseeker_myinformation_buttonli">
                            <input type="button" id="add-activities" class="submitbutton" value='Add Activities' />
                        </li>
                    </ul>           
                </div>
                <div class="common_background">
                    <div id="edit_activities_div" class="add_div">
                    <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                        <li data-bind="text: $data"></li>
                    </ul>

                         <ul>
                             <li>
                                 <input type="hidden" id="activity-id" />
                             </li>
                             <li>
                                 <input type="hidden" id="JobseekerIdActivity"  />
                             </li>
                            <li>
                                <input type="text" id="hobbies" placeholder="Activities" class="inputs" />
                            </li>
                             <li>
                                 <input type="button" id="submit-activities" value="Save"  class="savebutton"/>
                                 <input type="button" id="cancel-activities" value="Cancel" class="cancelbutton" />
                                 <input type="button" id="delete-activities" value="Delete" class="deletebutton" />
                             </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="activities_list_div">
                <div id="list_activities_div" class="common_background">
                    <ul>                       
                        <li  class="jobseeker_list_li_ul">
                            <ul  class="jobseeker_list_li_ul"  data-bind="foreach: activities">
                                <li class="jobseeker_list_innerli"><label class="language_label"  data-bind="text: Activity"></label></li>
                            </ul>
                        </li>
                    </ul>                                            
                </div>
                <div id="edit_individual_activities" class="common_background">
                    <ul>                       
                        <li class="jobseeker_myinformation_language_list_li_ul">
                            <ul class="jobseeker_myinformation_language_list_li_ul"  data-bind="foreach: activities">                                                            
                                <li class="jobseeker_myinformation_language_list_inner_li" data-bind="text: Activity"></li>
                                <li><button class="individual_editbutton" data-bind="click: $parent.editActivityDetails">Edit</button></li>
                                <hr />
                            </ul>
                        </li>
                    </ul>                                            
                </div>
            </div>
            <div id="Language_insertion">
                <div class="common_banner">
                    <ul>
                        <li class="marginclass">Languages
                        <input type="button" id="Add_more_languages" value="Add More" class="editbutton" />
                        <input type="button" id="Edit_languages" value="Edit" class="editbutton" />

                        </li>
                    </ul>
                </div>
                <div id="Language_general" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_descriptionli">
                             Tell us about Languages known to you.
                        </li>
                        <li class="jobseeker_myinformation_exampleli" >
                            English,Spanish, French,etc.
                        </li>
                        <li class="jobseeker_myinformation_buttonli">
                            <input type="button" id="Add_first_language" class="submitbutton" value="Add Languages" />
                        </li>
                    </ul>           
                </div>
                <div class="common_background">
                    <div id="Edit_language_div" class="add_div">
                   <ul data-bind="foreach: errors, visible: displayErrors() && errors().length > 0">
                        <li data-bind="text: $data"></li>
                    </ul>

                        <ul>
                            <li><input type="hidden" id="language_Id"  /></li>
                            <li><input type="hidden" id="jobSeeker_Id"  /></li>
                            <li class="jobseeker_additionalinformation_innerli"></li>

                            <li class="jobseeker_additionalinformation_innerli" ><label class="jobseeker_myinformation_select" id="LanguageNameLabel"></label><select id="LanguageList" class="jobseeker_myinformation_select" ></select><sup id="mandatory">*</sup></li>
                            <li ><select id="ProficiencyList" class="jobseeker_myinformation_select" ></select></li>
                            <li><input type="text" id="certification" class="inputs" placeholder="Certification" /></li>
                            <li>
                                <input type="button" id="Save_languages" class="savebutton" value="Save" />
                                <input type="button" id="Cancel_language" class="cancelbutton" value="Cancel" />
                                <input type="button" id="Delete_language" class="deletebutton" value="Delete" />
                            </li>
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Language_listing">
                <div id="Language_list_noneditable" class="common_background">
                    <ul>
                         <li class="jobseeker_myinformation_language_list_li_ul">
                            <ul class="jobseeker_myinformation_language_list_li_ul"  data-bind="foreach: languages">
                                <li class="jobseeker_myinformation_language_list_inner_li"><label class="language_label" data-bind="text: LanguageName"></label></li>
                            </ul>
                        </li>
                    </ul>            
                </div>
                <div id="Language_list_editable" class="common_background">
                    <ul>
                        <li class="jobseeker_myinformation_language_list_li_ul">
                            <ul class="jobseeker_myinformation_language_list_li_ul"  data-bind="foreach: languages">
                                <li class="jobseeker_myinformation_language_list_inner_li" data-bind="text: LanguageName"></li>
                                <li ><button class="individual_editbutton" data-bind="click: $parent.editLanguageDetails">Edit</button></li>
                                <hr />
                            </ul>
                        </li>
                    </ul>            
                </div>
            </div>

        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
