
<div id="wrapFooter">
  <div id="wrapFooterTop">
    <div id="footerTop">
      <div id="footerContact">
        <h2>About SkillSmart</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
      <div id="footerNav">
        <ul class="menu">
          <li class="home">
            <a href="home">Home</a>
            <ul>
              <li>
                <a href="#">Jobs</a>
                <ul>
                  <li><a href="#">Search Jobs</a></li>
                  <li><a href="#">Saved Jobs</a></li>
                  <li><a href="#">Jobs Applied For</a></li>
                  <li><a href="#">Suggested Jobs</a></li>
                </ul>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Courses</a>
                <ul>
                  <li><a href="#">Search Courses</a></li>
                  <li><a href="#">Saved Courses</a></li>
                  <li><a href="#">Registered Courses</a></li>
                  <li><a href="#">Suggested Courses</a></li>
                </ul>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Quicklinks</a>
                <ul>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="wrapFooterBottom">
    <div id="footerBottom">
      <div id="footerSocial">
        <ul class="menu fa-ul">
          <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope fa-2x"></i></a></li>
        </ul>
      </div>
      <div id="footerCopyright">
        <p>&copy; Copyright 2014, SkillSmart. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>

