<div id="wrapHeader">
  <div id="header">
    <div id="wrapLogo">
      <div class="logo">
        <img src="/images/ss-logo.png" />
      </div>
    </div>
    <div id="wrapNav">
      <div id="nav">
        <ul class="menu">
          <li><a href="../JobSeeker/MyJobsApplied.html">My Jobs</a></li>
          <li><a href="#">My Skills</a></li>
          <li><a href="#">My Courses</a></li>
          <li class="last"><a href="#">Search Jobs</a></li>
        </ul>
      </div>
      <div id="welcome">
        <div id="profile-img">
          <img class="resize-fit-center" src="/images/avatar.jpg" />
        </div>
        <div id="profile-text">
          <span class="welcome-text">Welcome,</span>
          <span class="user-name"><a href="#" id="viewProfile">Jane Smith</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
