<div id="wrapHeader">
  <div id="header">
    <div id="wrapLogo">
      <div class="logo">
        <img src="/images/ss-logo.png" />
      </div>
    </div>
    <div id="wrapNav">
      <div id="nav">
        <ul class="menu">
          <li><a href="AccountInformation.html">My Account</a></li>
          <li><a href="MyJobsApplied.html">My Jobs</a></li>
          <li><a href="JobSeekerSkillList.html">My Skills</a></li>
          <li><a href="MyInformtion.html">My Info</a></li>
          <li class="last"><a href="AdvancedJobSearch.html">Search Jobs</a></li>
        </ul>
      </div>
      <div id="welcome">
        <div id="profile-img">
          <img class="resize-fit-center" src="/images/avatar.jpg" />
        </div>
        <div id="profile-text">
          <span class="welcome-text">Welcome,</span>
          <span class="user-name"><a href="Account.html" id="viewProfile" data-bind="text: firstname() + ' ' + lastname()"></a></span>
        </div>
      </div>
    </div>
  </div>
</div>
