
	<script id="scriptInit" type="text/javascript">

	    $(document).ready(function () {
	        $(".flyoutmenu").wijmenu();


	    });

</script>

<div id="wrapHeader">
  <div id="header">
    <div id="wrapLogo">
      <div class="logo">
        <img src="/images/ss-logo.png" />
      </div>
    </div>
      
    <div id="wrapNav">
      <div id="nav">
        <ul class="menu">
          
          <li><a href="/Views/Employer/JobsCreate.html">My Jobs</a></li>
          <li><a href="/Views/Employer/EmployerManage.html">My Staff</a></li>
          <li class="last"><a href="/Views/Employer/SearchCandidate.html">Search Candidates</a></li>
        </ul>
      </div>
      <div id="welcome">
        <div id="profile-img">
          <img class="resize-fit-center" src="/images/avatar.jpg" />
        </div>
        <div id="profile-text">           
              <ul class="flyoutmenu"><li><a href="#" ><span class="welcome-text"> Welcome</span></a>
              <span id="menu_Name" class="user-name"><a href="Account.html" id="viewProfile">Jane Smith</a></span>             
                </li>
              </ul>                           
        </div>
      </div>

    </div>
      
  </div>
</div>
