<div class="add_div">
    <section data-bind="template: { name: 'EditFormAccountDetails' }"></section>
    <ul>       
        <li class="jobseeker_additionalinformation_city_outerli">
            <ul class="jobseeker_additionalinformation_city_ul" >
                 <li ><a class="btn btn-blue first" href="" data-bind='    click: saveAccountDetails'>Save</a></li>
                <li ><a class="btn btn-ltgray" href="" data-bind='    click: cancelAccountDetails'>Cancel</a></li>
            </ul>
        </li>
    </ul>
</div>
