<div>
       <div class="profileImg" ><img style="width:123px;" src="/images/Employer_Logo.png" /></div>
    </div>
    <div>
        <ul>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli">
                        <label  class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: companyName"></label> 
                    </li> 
                </ul>
            </li>
           
             <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli">      
                        <label data-bind="text: streetAddress"></label>,  <label data-bind="    text: location"></label>,  <label data-bind="    text: Maincity"></label>
                    </li>
                </ul>
             </li>

            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"> <label data-bind="    text: Country"></label> </li>
                </ul>
            </li>

            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><label  data-bind="    text: businessPhone"></label> </li>
                </ul>
            </li>

            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><label  data-bind="    text: employerUrl"></label></li>
                </ul>
            </li>
            <li class="jobseeker_registration_outerli" style="padding-top:10px;">
                <ul class="jobseeker_registration_ul">
                    <li class='jobSeeker_PersonalInformation_li'><label class="personalInformation_Header">Sector</label></li>
                    <li class='jobSeeker_PersonalInformation_li'><label class="personalInformation_Header">Industry</label></li>
                    <li class='jobSeeker_PersonalInformation_li'><label class="personalInformation_Header">Employer Size</label></li>
                </ul>
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class='jobSeeker_PersonalInformation_li'><label class="personalInformationLabel" data-bind="text: sectorName" ></label></li>
                    <li class='jobSeeker_PersonalInformation_li'><label  class="personalInformationLabel" data-bind="text: industryName"></label></li>
                    <li class='jobSeeker_PersonalInformation_li'><label class="personalInformationLabel" data-bind="text: employerSizeName"></label></li>
                </ul>
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><label class="personalInformation_Header">Company Description</label> </li>
                </ul>
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><label class="personalInformationLabel">Good Company</label> </li>
                </ul>
            </li>
        </ul>
    </div>


