<ul>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_additionalinformation_innerli">
                <label  class="personalInformation_Header">Payment Method Selected</label> 
            </li> 
        </ul>
    </li>
           
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_additionalinformation_innerli">      
                <label class="personalInformationLabel" >Credit Card</label>
            </li>
        </ul>
    </li>
     <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli">
                        <label  class="personalInformation_Header">Credit Card Information</label> 
                    </li> 
                </ul>
            </li>
           
             <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli">      
                        <label class="personalInformationLabel" >****_****_1234 Expires:1/2016</label>
                    </li>
                </ul>
             </li>
</ul>