<div>
    <hr size="1" />
    <ul>
        <li >
            <label>Login Credentials</label><a class="butnLightGrey butnLightGrey-ltgray" href="" data-bind="click:editLoginCredential" ><i class="fa fa-pencil-square-o"></i>&nbsp Edit</a>
        </li>
        <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                <li class='jobseeker_additionalinformation_innerli'><label>User Name</label></li>
                <li class='jobseeker_myinformation_innerli'><label>Password</label></li>
            </ul>
        </li>
        <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                 <!-- ko ifnot: username()--><li class='jobseeker_additionalinformation_innerli'><label>Username</label></li><!-- /ko -->
                <!-- ko if: username()--><li class='jobseeker_additionalinformation_innerli'><label data-bind='text: username'></label></li><!-- /ko -->
                <li class='jobseeker_myinformation_innerli'><label data-bind='text: password'></label></li>
            </ul>
        </li>  
        <li class="jobseeker_myinformation_buttonli">
            <a class="btn btn-blue first" href="" data-bind="click: doneEditing">I'm done Editing this section </a>
        </li>      
    </ul>

</div>