<section >
    <ul>
        <li >
            <label>Login Credentials</label>
        </li>
        <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                <li class='jobseeker_additionalinformation_innerli'><label>User Name</label></li>
                <li class='jobseeker_myinformation_innerli'><label>Password</label></li>
            </ul>
        </li>
        <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                <!-- ko ifnot: username()--><li class='jobseeker_additionalinformation_innerli'><input type='text' placeholder='User Name'  data-bind='wijtextbox: {}, value: username' /></li><!-- /ko -->
                 <!-- ko if: username()--><li class='jobseeker_additionalinformation_innerli'><label data-bind='text: username'></label></li><!-- /ko -->
                <li class='jobseeker_myinformation_innerli'><input type='text'  placeholder='Password' data-bind='wijtextbox: {}, value: password' /></li>
            </ul>
        </li>
        <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                 <li ><a class="btn btn-blue first" href=""  data-bind='click: updateLoginCredential' >Update</a></li>
                <li ><a class="btn btn-ltgray" href="" data-bind='click: cancelLoginCredential'>Cancel</a></li>
            </ul>
        </li>
    </ul>
</section>