<div class='common_banner'>
   <div class="common_bannerStyle">
        <ul><li> Account Status</li></ul>
    </div>

   <div class="common_banner_ButtonStyle">
        <li class='marginclass'> <!-- ko if: accountStatusCheck() == '1' --><!-- ko if: btnAccountStatus() == 'Edit' --> <a class="butn butn-dkgray" href="" data-bind='click: clickButtonAccountStatus, value: btnAccountStatus' >Edit</a><!-- /ko --><!-- /ko --></li>
    </div>
</div>
<div id='show_aboutme_div' class='common_background'>
    <ul data-bind='    template: { name: whichTemplateToUseAccountStatus }'></ul>
</div>