<div >
    <h1 class="box-header">
        Awards, Scholarships & Recognition    
        <!-- ko if: awardCheck() == '1' -->
        <!-- ko if: btnAward() == 'Edit' --><a class="butn butn-dkgray" href=""  data-bind='click: clickButtonAward, value: btnAward' ><i class="fa fa-pencil-square-o"></i>&nbsp Edit</a><!-- /ko -->
        <!-- ko if: btnAward() == 'Add More' -->
             <!-- ko if: addMoreAwardCheck() == '1' --><a class="butn butn-dkgray" href=""  data-bind='click: clickButtonAward, value: btnAward' ><i class="fa fa-plus"></i>&nbsp Add More</a>  <!-- /ko -->
             <!-- /ko -->
        <!-- /ko -->
    </h1>
</div>

<div id='show_activity_div' class='common_background'>
    <ul data-bind='template: { name: whichTemplateToUseAward }'></ul>
</div>