
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><label>Details</label></li>                                               
    </ul>
</li> 
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><textarea id="Certification_Details" placeholder=" Details" data-bind="wijtextbox: {}, value: certificationDetails"></textarea></li>                                                
    </ul>
</li>     
 <li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">                                                
        <li class="jobseeker_additionalinformation_innerli"><label>Email</label></li>
        <li class="jobseeker_myinformation_innerli"><label>Phone</label></li>
    </ul>
</li> 
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><input type="text" placeholder="Email" data-bind="wijtextbox: {}, value: emailAddress" /></li>
         <li  class="jobseeker_myinformation_innerli"><input type="text" placeholder="Phone"  data-bind="wijtextbox: {}, value: phone" /></li>
    </ul>
</li> 
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><label>Address</label></li>                                               
    </ul>
</li>     
<li class="jobseeker_registration_outerli"> 
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><input type="text" placeholder="Address" data-bind="wijtextbox: {}, value: address" /></li>
    </ul>
</li> 
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">                                                
        <li class="jobseeker_additionalinformation_innerli"><label>City</label></li>
        <li class="jobseeker_myinformation_innerli"><label>State</label></li>
    </ul>
</li>
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><input type="text" placeholder="City"  data-bind="wijtextbox: {}, value: city" /></li>
         <li class="jobseeker_myinformation_innerli"><input type="text" placeholder="State"  data-bind="wijtextbox: {}, value: state" /></li>
    </ul>
</li> 
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><label>Website URL</label></li>                                               
    </ul>
</li> 
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_additionalinformation_innerli"><input type="text" placeholder="URL" data-bind="wijtextbox: {}, value: url" /></li>
    </ul>
</li> 