
<li  data-bind="foreach: activitiesArray">
    <!-- ko if: isEdit() == '0' -->
        <div data-bind="template: { name: 'ActivityList' }">
        </div>
    <!-- /ko -->
    <!-- ko if: isEdit() == '1' -->
                
        <div class="add_div" data-bind="template: { name: 'EditFormActivities' }">
        </div>
    <!-- /ko -->
</li>

<li class="jobseeker_myinformation_buttonli">
        <a class="btn btn-blue first" href="" data-bind="click: doneEditingActivities">I'm done Editing this section </a>
</li>
       
