<div class="add_div">
    <section data-bind="template: { name: 'EditFormAccountDetails' }"></section>
    <ul>       
        <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                 <li ><a class="btn btn-blue first" href="" data-bind='    click: submit'>Save</a></li>
                <li ><a class="btn btn-ltgray" href="" data-bind='    click: reset'>Cancel</a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="Div1" data-bind="template: { name: whichTemplateToUseAccountDetailsLogin }" >            
</div> 