
<li  data-bind="foreach: awardArray">
    <!-- ko if: isEdit() == '0' -->
        <div data-bind="template: { name: 'AwardList' }">
        </div>
    <!-- /ko -->
    <!-- ko if: isEdit() == '1' -->
                
        <div class="add_div" data-bind="template: { name: 'EditFormAward' }">
        </div>
    <!-- /ko -->
</li>
    <li class="jobseeker_myinformation_buttonli">
        <a class="btn btn-blue first" href="" data-bind="click: doneEditingAwards">I'm done Editing this section </a>
    </li>
