<!-- ko if: isEdit() == '1' -->
    <ul>
    <li><input type="hidden" id="language_Id" data-bind= "value: Id" /></li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>First Name</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="awards-title" placeholder="First Name"  data-bind= "wijtextbox: {}, value: firstName" />
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Last Name</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="Text1" placeholder="Last Name"  data-bind= "wijtextbox: {}, value: lastName" />
            </li>
        </ul>
    </li>

    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Position</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="Text3" placeholder="Position"  data-bind= "wijtextbox: {}, value: position" />
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Description</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <textarea id="Text2" placeholder="Description"  data-bind= "wijtextbox: {}, value: referenceDescription" ></textarea>
            </li>
        </ul>
    </li>

    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Contact Information</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="reference_Phone" placeholder="Phone or Email"  data-bind= "wijtextbox: {}, value: referenceContact" />
            </li>
        </ul>
    </li>

    
    <li class="jobseeker_additionalinformation_city_outerli">
        <ul class="jobseeker_additionalinformation_city_ul" >
            <li><a class="btn btn-blue first" href="" data-bind = "click: $root.saveReference" >Save</a></li>
            <li><a class="btn btn-ltgray" href="" data-bind = "click: $root.cancelReference">Cancel</a></li>
            <!-- ko if: deleteCheck() == '1' --><li><a class="btn btn-red" style="margin-left:324px;" href="" data-bind = "click: $root.deleteReference" >Delete</a></li><!-- /ko -->
        </ul>
    </li>
</ul>
<!-- /ko -->