 <!-- ko if: isEditSpecialityCourse() == '1' -->
<div class="common_tabSpecialityCourse_background">
    <div id="Edit_Education" class="tab_savebackground_div">
        <ul>
            <li>
                <li><input type="hidden" id="JobseekerEducationId" data-bind="value: jobSeekerId"  /></li>
            </li>
            <li>
                <input type="hidden" id="EducationId"  data-bind="value: specialityCourseId" />
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_registration_innerli"><label>Course Name</label></li>
                </ul>
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli" ><input type="text"  placeholder="Course Name" data-bind="wijtextbox: {}, value: specialityCourseName"/></li>
                </ul>
            </li>

             <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_registration_innerli"><label>Course Description</label></li>
                </ul>
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_registration_innerli"><textarea placeholder="Course Description"  data-bind="wijtextbox: {}, value: specialityCourseDescription" ></textarea></li>
                </ul>
            </li>                                                                            
            <li class="jobseeker_additionalinformation_city_outerli">
                <ul class="jobseeker_additionalinformation_city_ul" >
                    <li  ><a class="btn btn-blue first" href="" data-bind="click: $parent.saveSpecialityCourse" >Save</a></li>
                    <li ><a class="btn btn-ltgray" href="" data-bind="click: $parent.cancelSpecialityCourse" >Cancel</a></li>
                    <!-- ko if: deleteCheck() == '1' --><li ><a class="btn btn-red" style="float:right;" href="" data-bind="click: $parent.deleteSpecialityCourse" >Delete</a></li><!-- /ko -->
                </ul>
            </li>                        
        </ul>
    </div>
</div>
<!-- /ko -->
