<div class="add_div">
    <ul>
        <li><input type='hidden'  data-bind='value: jobseekerId' /></li>
        <li><input type='hidden'  data-bind='value: overviewId' /></li>
        <li class="jobseeker_registration_outerli">
            <ul class="jobseeker_registration_ul">
                <li class="jobseeker_registration_innerli"><label>Current Status</label></li>
            </ul>
        </li>
        <li class="jobseeker_registration_outerli">
            <ul class="jobseeker_registration_ul">
                <li class="jobseeker_registration_innerli"><input id="Text1" data-bind="wijcombobox: { selectedIndex: selectedIndexCurrentStatus, text: textCurrentStatus, data: dataCurrentStatus, }" />
                     <!-- ko if: errorCheckAccountStatus() == '1' -->
                        <span class="validationMessage">select Account Status</span>
                    <!-- /ko -->
                </li>
            </ul>
        </li>
        <li class="jobseeker_additionalinformation_city_outerli">
            <ul class="jobseeker_additionalinformation_city_ul" >
                <li><a class="btn btn-blue first" href="" data-bind = "click: saveAccountStatus" >Save</a></li>
                <li><a class="btn btn-ltgray" href="" data-bind = "click: cancelAccountStatus" >Cancel</a></li>
            </ul>
        </li>
    </ul>
</div>
