<!-- ko if: isEdit() == '1' -->
    <ul>
    <li><input type="hidden" id="language_Id" data-bind= "value: Id" /></li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Material Title</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="awards-title" placeholder="Title"  data-bind= "wijtextbox: {}, value: title" />
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>WebsiteURL</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="Text1" placeholder="URL"  data-bind= "wijtextbox: {}, value: webURL" />
            </li>
        </ul>
    </li>


    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Description</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <textarea id="Text2" placeholder="Description"  data-bind= "wijtextbox: {}, value: description" ></textarea>
            </li>
        </ul>
    </li>



    <li class="jobseeker_additionalinformation_city_outerli">
        <ul class="jobseeker_additionalinformation_city_ul" >
            <li><a class="btn btn-blue first" href="" data-bind = "click: $root.saveSupportingMaterial" >Save</a></li>
            <li><a class="btn btn-ltgray" href="" data-bind = "click: $root.cancelSupportingMaterial" >Cancel</a></li>
            <!-- ko if: deleteCheck() == '1' --><li><a class="btn btn-red" style="margin-left:324px;" href=""  data-bind = "click: $root.deleteSupportingMaterial" >Delete</a></li><!-- /ko -->
        </ul>
    </li>
</ul>
<!-- /ko -->