<!-- ko if: isEdit() == '1' -->
    <ul>
    <li>
        <input type="hidden" id="awards-id" data-bind= "value: Id" />
    </li>
    <li>
        <input type="hidden" id="jobseekerId" data-bind= "value: JobSeekerId" />
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Award title</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <input type="text" id="awards-title" placeholder="Award Title"  data-bind= "wijtextbox: {}, value: Award" />
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Organization</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
                <input type="text" id="organization" placeholder="Organization"  data-bind= "wijtextbox: {}, value: Organization" />
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
            <label>Description</label>
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli">
                <textarea id="awards-description" placeholder="Description"  data-bind= "wijtextbox: {}, value: Description"></textarea>
            </li>
        </ul>
    </li>
    <li class="jobseeker_additionalinformation_city_outerli">
        <ul class="jobseeker_additionalinformation_city_ul" >
            <li  ><a class="btn btn-blue first" href="" data-bind = "click: $parent.saveAward" >Save</a></li>
            <li ><a class="btn btn-ltgray" href=""  data-bind = "click: $parent.cancelAward" >Cancel</a></li>
            <!-- ko if: deleteCheck() == '1' --><li><a class="btn btn-red" style="float:right;" href="" data-bind = "click: $parent.deleteAward" >Delete</a></li><!-- /ko -->
        </ul>
    </li>
    
</ul>
<!-- /ko -->