
<li  data-bind="foreach: languages">
    <!-- ko if: isEdit() == '0' -->
        <div data-bind="template: { name: 'LanguageLists' }">
        </div>
    <!-- /ko -->
    <!-- ko if: isEdit() == '1' -->
                
        <div class="add_div" data-bind="template: { name: 'EditFormLanguages' }">
        </div>
    <!-- /ko -->
</li>

<li class="jobseeker_myinformation_buttonli">
        <a class="btn btn-blue first" href="" data-bind="click: doneEditingLanguages">I'm done Editing this section </a>
    </li> 
       
