<div>
    
       <li  class="jobseeker_registration_outerli">
                <li  class="jobseeker_registration_ul">Receive emails about jobs<input type="checkbox" value="jobs" data-bind="wijcheckbox: { checked: jobs } "/> <hr /></li>
       </li>
       
        <li  class="jobseeker_registration_outerli">
                <li  class="jobseeker_registration_ul">Receive emails about courses<input type="checkbox" value="courses" data-bind="wijcheckbox: { checked: course } " /> <hr /></li>
       </li>
       
        <li  class="jobseeker_registration_outerli">
                <li  class="jobseeker_registration_ul">Receive text messages about jobs<input type="checkbox" value="message" data-bind="wijcheckbox: { checked: message }" /></li>
       </li>
     
         <li class='jobseeker_registration_outerli'>
            <ul class='jobseeker_registration_ul'>
                 <li><a class="btn btn-blue first" href="" data-bind='    click: saveNotification'>Save</a></li>
                <li><a class="btn btn-ltgray" href=""  data-bind='    click: cancelNotification' >Cancel</a></li>
            </ul>
        </li>
    
</div>