<!-- ko if: isEdit() == '1' -->
<ul>
    <li><input type="Hidden" id="language_Id" data-bind= "value: LanguageId" /></li>
    <li><input type="Hidden" id="jobSeeker_Id" data-bind= "value: JobSeekerId" /></li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_additionalinformation_innerli"><label>Language</label></li>
            <li class="jobseeker_myinformation_innerli"><label>Proficiency</label></li>
        </ul>
    </li>
     <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_additionalinformation_innerli"><input style="width:80px;" data-bind="wijcombobox: { selectedIndex: selectedIndexLanguage, data: $parent.dataLanguage }" />
                 <!-- ko if: errorCheckLanguage() == '1' --> 
                
                            <span class="validationMessage">select Industry</span>
                       
                <!-- /ko -->
            </li>
            <li class="jobseeker_myinformation_innerli"><input style="width:80px;" data-bind="wijcombobox: { selectedIndex: selectedIndexProficiency, data: $parent.dataProficiency }" />
                <!-- ko if: errorCheckProficiency() == '1' --> 
                        
                            <span class="validationMessage">select Industry</span>
                       
                <!-- /ko -->
            </li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli"><label>Certification</label></li>
        </ul>
    </li>
    <li class="jobseeker_registration_outerli">
        <ul class="jobseeker_registration_ul">
            <li class="jobseeker_registration_innerli"><input type="text" id="certification"  placeholder="Certification" data-bind= "wijtextbox: {}, value: CertificationDetails" /></li>
        </ul>
    </li>    
    <li class="jobseeker_additionalinformation_city_outerli">
        <ul class="jobseeker_additionalinformation_city_ul" >
            <li><a class="btn btn-blue first" href="" data-bind = "click: $parent.saveLanguages" >Save</a></li>
            <li><a class="btn btn-ltgray" href="" data-bind = "click: $parent.cancelLanguage">Cancel</a></li>
           <!-- ko if: deleteCheck() == '1' --> <li><a class="btn btn-red" href="" data-bind = "click: $parent.deleteLanguage" >Delete</a></li> <!-- /ko -->
        </ul>
    </li>
</ul>
<!-- /ko -->