
<div style="padding-top:15px;"><li><!-- ko if: educationButtonCheck() == '1' --><input  type="button" id="addMoreEducation" class="editbutton" value="Add More" data-bind="click: addMoreEducation" /><!-- /ko --></li></div>

<div id="Education" >
    <div data-bind="    template: { name: 'EditEducation' }"></div>
</div>


<div  data-bind="wijexpander: { expanded: false }">
    <h4>Speciality Course</h4>
    <div>
        <div style="padding-top:15px;"><li><!-- ko if: specialityCourseButtonCheck() == '1' --><input  type="button" id="addMoreSpecialityCourse" class="editbutton" value="Add More" data-bind="click: addMoreSpecialityCourse" /><!-- /ko --></li></div>

        <div id="Div1" >
            <div data-bind="    template: { name: 'EditSpecialityCourse' }"></div>
        </div>
    </div>
</div>