<div class="jobseeker_myinformation_list_tab_main_div">
    <div class="jobseeker_myinformation_list_tab_sub_div">
        <li><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: universityName"></label><button class="individual_editbutton_tab" data-bind="    click: $parent.editEducationDetails">Edit</button></li>                                    
        <li><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: degreeName"></label>, <label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="    text: majorFocus"></label></li>
        <li><label  data-bind="text: startDate"></label> - <label  data-bind="    text: endDate"></label> / <label  data-bind="    text: universityLocation"></label></li>                                
        <hr />                    
    </div>
</div>