<div>
    <div id='Message' class='jobsApplied' >
        <div class="jobseeker_myinformation_list_tab_sub_div" data-bind="foreach: jobs">
                <li style="float:right"><label>Date Applied:</label><label  data-bind="text: dateApplied"></label> | <label>Status:</label><label  data-bind="    text: jobStatus"></label> |   <div class="skill_Score">Skill Score 72</div></li>
                <li><label class="jobseeker_MessageEmployer" data-bind="text: jobPosition"></label></li>     
                                           
                <li><label class="jobseeker_MessagePosition" data-bind="text: employerName"></label> , <label class="jobseeker_MessagePosition" data-bind="    text: companyLocation"></label></li>
                <li><label > Posted:</label> <label  data-bind="text: datePosted"></label> | <label > Views:</label> <label  data-bind="    text: jobViews"></label> | <label > Applicants:</label> <label  data-bind="    text: applicants"></label> | <label > Average Applicant skill score:</label> <label  data-bind="    text: applicantsSkillScore"></label></li> 
                <hr size="1" />          
            
               <div data-bind="wijexpander: {}">
                   <h4>Details</h4>

                   <div>

                    <li class="marginclass"><label class="jobseeker_MessagePosition">Salary</label></li>
                    <li><label  data-bind="text: salaryRange"></label></li>

                    <li class="marginclass"><label class="jobseeker_MessagePosition">Description</label></li>
                    <li><label  data-bind="text: jobDescription"></label></li>
                    <li class="marginclass"><label class="jobseeker_MessagePosition">Prerequisites</label></li>
                    <section data-bind="foreach: prerequisites"> 
                        <ul ><li style="list-style-type:square;" ><label  data-bind="text: designExperience"></label></li></ul>
                    </section>

                    <li class="marginclass"><label class="jobseeker_MessagePosition">Required Skills</label></li>
                    <li class="jobseeker_AppliedJobs_ul_li">
                        <ul class="jobseeker_AppliedJobs_ul_li" data-bind="foreach: requiredSkills"> 
                             <li data-bind="    template: { name: 'SkillList' }"></li>
                        </ul>
                    </li>
                   <!-- ko if: viewModel.applyCheck() == '0' --><li><input type="button" class="submitbutton" value="Apply" data-bind="click: $root.applyJobs" /></li><!-- /ko -->
                   </div>
                   </div>
        
        </div>
</div>
</div>