

    <ul >
        <li >
        <label>Subject</label>
        </li>
    </ul>

    <ul >
        <li >
            <input type="text" id="organization" placeholder="Subject"  data-bind= "wijtextbox: {}, value: replayMessageSubject" />
        </li>
    </ul>
    <ul >
        <li >
        <label>Message</label>
        </li>
    </ul>
    <ul >
        <li >
            <textarea id="awards-description" placeholder="Message"  data-bind= "wijtextbox: {}, value: replayMessageContent"></textarea>
        </li>
    </ul>

<li class="jobseeker_message_outerli">
    <ul class="jobseeker_additionalinformation_city_ul" >
        <li><a class="btn btn-blue first" href="#" data-bind = "click: $parent.saveSentMessage" >Send</a></li>
        <li><a class="btn btn-ltgray" href="#"  data-bind = "click: $parent.cancelSentMessage" >Cancel</a></li>
    </ul>
</li>                    
