
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_registration_innerli">
        <label>Subject</label>
        </li>
    </ul>
</li>
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_registration_innerli">
            <input type="text" id="organization" placeholder="Subject"  data-bind= "wijtextbox: {}, value: replayMessageSubject" />
        </li>
    </ul>
</li>
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_registration_innerli">
        <label>Message</label>
        </li>
    </ul>
</li>
<li class="jobseeker_registration_outerli">
    <ul class="jobseeker_registration_ul">
        <li class="jobseeker_registration_innerli">
            <textarea id="awards-description" placeholder="Message"  data-bind= "wijtextbox: {}, value: replayMessageContent"></textarea>
        </li>
    </ul>
</li>

<li class="jobseeker_additionalinformation_city_outerli">
    <ul class="jobseeker_additionalinformation_city_ul" >
        <li><a class="btn btn-blue first" href="#" data-bind = "click: $parent.saveSentMessage" >Sent</a></li>
        <li><a class="btn btn-ltgray" href="#"  data-bind = "click: $parent.cancelSentMessage" >Cancel</a></li>
    </ul>
</li>                    
