<div  class='common_banner'>
    <ul>
        <li class='marginclass'>Message Center </li>
    </ul>
</div>
<div id='Message' class='common_background' >
    <div class="jobseeker_myinformation_list_tab_sub_div" data-bind="foreach: jobList">
        <ul>
            <li><label class="jobseeker_MessageEmployer" data-bind="text: employer"></label></li>                                    
            <li><label class="jobseeker_MessagePosition" data-bind="text: position"></label> | <label class="jobseeker_MessagePosition" data-bind="    text: place"></label></li>
            <li><label class="jobseeker_MessagePosition">Date Posted:</label> <label  data-bind="text: datePosted"></label></li>    
            <li class="marginclass"><label  data-bind="text: jobDescription"></label></li>
            <hr />   
        </ul>
    </div>
</div>