<div style="width:600px; margin: auto;" >
    <div style="width:300px;float:left;margin-top:10px;">
        <label  data-bind="text: firstName"></label>
    </div>
    <div style="margin-left: 300px">
        <a class="butn butn-white" style="margin-right:5px;" href=""  data-bind="click: $root.editReferenceDetails"><i class="fa fa-pencil-square-o"></i>&nbsp Edit</a>
    </div>
</div>    

<!--<li><label  data-bind="text: firstName"></label>
    <button class="individual_Skilleditbutton" data-bind="click: $root.editReferenceDetails">Edit</button>
</li>

<hr />-->
