<div style="width:600px; margin: auto;" >
    <div style="width:300px;float:left;margin-top:10px;">
        <label  data-bind="text: firstName"></label>
    </div>
    <div style="margin-left: 300px">
        <button class="individual_Skilleditbutton" data-bind="click: $root.editReferenceDetails">Edit</button>
    </div>
</div>    

<!--<li><label  data-bind="text: firstName"></label>
    <button class="individual_Skilleditbutton" data-bind="click: $root.editReferenceDetails">Edit</button>
</li>

<hr />-->
