<div style="width:600px; margin: auto;" >
    <div style="width:300px;float:left;margin-top:10px;">
        <label data-bind="text: companyName"></label>    </div>
    <div style="margin-left: 300px">
        <button class="individual_Skilleditbutton" data-bind="click: $root.editRelatedExperienceDetails">Edit</button>
    </div>
</div>    

<!--    
<li><label data-bind="text: companyName"></label>
<button class="individual_Skilleditbutton" data-bind="click: $root.editRelatedExperienceDetails">Edit</button></li>
<hr />-->
