<li class="jobseeker_additionalinformation_innerli">
    <span class="skill_List" >
        <div class="common_SkillStyle" >
            <label class="left_Margin" data-bind="text: skillName"></label><hr size="1" width="88%">
            <div class="left_Margin"><a href="#">Improve this skill</a></div>
            <div class="left_Margin"><a href="#"> See jobs that require this skill</a></div>
        </div>
        <div class="common_Skill_ListStyle">
            <div class="skill_Score">Skill Score <label  data-bind=" text: skillScore"></label>
            </div>
        </div>
    </span>
</li>