<div class="jobseeker_myinformation_list_tab_main_div">
    <div class="jobseeker_myinformation_list_tab_sub_div">
        <li style="margin-bottom:15px;"><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: specialityCourseName"></label><a class="butn butn-white" href="" data-bind="    click: $parent.editSpecialityCourseDetails"><i class="fa fa-pencil-square-o"></i>&nbspEdit</a></li>                                    
        <hr />                    
    </div>
</div>