<div >
    
        <ul><li><label style="font-size:15px;">Suppoting Material</label>
            <!-- ko if: supportingMaterialCheck() == '1' --><input type='button' id='addMoreLanguage' class='individual_editbuttonSkill'  data-bind='click: $root.clickButtonSkillSupportingMaterial, value: btnSupportingMaterial'  /><!-- /ko --></li>
        <hr size="1" />
        </ul>
</div>

<div id='show_activity_div' >
    <div data-bind='template: { name: $root.whichTemplateToUseSupportingMaterial }'></div>
</div>