<div style="width:600px; margin: auto;" >
    <div style="width:300px;float:left;margin-top:10px;">
        <label data-bind="text: title"></label>
    </div>
    <div style="margin-left: 300px">
         <a class="butn butn-white" href=""  data-bind="click: $root.editSupportingMaterialDetails"><i class="fa fa-pencil-square-o"></i>&nbsp Edit</a>
    </div>
</div>    
    
<!--<li><label data-bind="text: title"></label>
<button class="individual_Skilleditbutton" data-bind="click: $root.editSupportingMaterialDetails">Edit</button></li>
<hr />-->
