<div class="jobseeker_myinformation_list_tab_main_div">
    <div class="jobseeker_myinformation_list_tab_sub_div">
        <li ><label class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: programTypeName"></label>,<label class="jobseeker_myinformation_list_tab_workExperience_label"  data-bind="    text: focus"></label><button class="individual_editbutton_tab" data-bind="    click: $parent.editTrainingCourseDetails">Edit</button></li>                                           
        <li><label  data-bind="text: expireDate"></label> - <label  data-bind="    text: completedDate "></label>
        <li><label  data-bind="text: certificationDetails"></label></li>                                           
    </div>
</div>