<!-- ko if: accountDetailsCheck() == '0' -->
<ul>
    <li class="jobseeker_myinformation_descriptionli">
            To get started we'll need some basic information from you.
    </li>
    <li class="jobseeker_myinformation_exampleli" >
       Tell us where you live, how we can contact you, set a profile pic and more.
    </li>
    <li class="jobseeker_myinformation_buttonli">
        <a class="bton btn-orange" href=""  data-bind="click: getStartedAccount">Get Started</a>
    </li>
</ul>
 <!-- /ko -->
<!-- ko if: accountDetailsCheck() == '1' -->

    <div>
       <div class="profileImg"> <img src="/images/avatar.jpg" /></div>
    </div>
    <div>
        <ul>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli">
                        <label  class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="text: firstname"></label>  <label  class="jobseeker_myinformation_list_tab_workExperience_label" data-bind="    text: lastname"></label>
                    </li> 
                </ul>
            </li>
            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li>
                    Username: <label data-bind="text: username"></label> / Password: <label>******</label><hr size="1" />
                    </li>
                </ul>
             </li>
             <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><i class="fa fa-map-marker"></i>      
                        <label data-bind="text: addressline1"></label>,<label data-bind="    text: addressline2"></label>, <label data-bind="    text: countryName"></label>
                    </li>
                </ul>
             </li>

            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><i class="fa fa-globe"></i> <label data-bind="text: citizenshipLabel"></label> </li>
                </ul>
            </li>

            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><i class="fa fa-phone"></i> <label data-bind="text: phonehome"></label> </li>
                </ul>
            </li>

            <li class="jobseeker_registration_outerli">
                <ul class="jobseeker_registration_ul">
                    <li class="jobseeker_additionalinformation_innerli"><i class="fa fa-envelope"></i> Contact me by:<label data-bind="text: contact"></label></li>
                </ul>
            </li>
        </ul>
    </div>

 <!-- /ko -->

