<!-- ko if: languageCheck() == '0' -->
<section class="sectionModified box-white">
    <li class="jobseeker_myinformation_descriptionli">
            Tell us about Languages known to you.
    </li>
    <li class="jobseeker_myinformation_exampleli" >
        English,Spanish, French,etc.
    </li>
    <li class="jobseeker_myinformation_buttonli">
        <a class="bton btn-orange" href="" id="Add_first_language"  data-bind='click: addFirstLanguage'>Add Languages</a>
    </li>
    </section>
<!-- /ko -->

<!-- ko if: languages -->

    <li class="jobseeker_myinformation_language_list_li_ul">
        <ul class="jobseeker_myinformation_language_list_li_ul"  data-bind="foreach: languages">
            <li >
                <div  class="ListActivity">
                    <div class="ListLanguage_Label">
                       <label class="jobseeker_Reference" data-bind="    text: LanguageName"></label>
                       <label data-bind="    text: ProfociencyName"></label>
                    </div>
                    <div class="ListLanguage_Button">
                        <button class="delete_LanguageButton" data-bind = "click: $parent.deleteLanguage" ><i class="fa fa-times fa-lg"></i></button>
                    </div>
                </div>
            </li>
           
        </ul>
        
    </li>
<!-- /ko -->

