<div data-bind='if: summary'>
    <li> <label id='show-summary' data-bind='    text: summary'></label></li>

</div>
<div data-bind='ifnot: summary'>
    <li class='jobseeker_myinformation_descriptionli'>Your elevator pitch about yourself!</li>
    <li class='jobseeker_myinformation_exampleli' >Say something about your skills,strength,goals,etc.</li>
    <li class='jobseeker_myinformation_buttonli'><input type='button' id='pitch-yourself' class='submitbutton' value='Pitch Yourself' data-bind='    click: pitchYourself' /></li>
</div>