<!-- ko if: referenceCheck() == '0' -->
    <li class="jobseeker_myinformation_descriptionli">
        Provide some reference for this skill
    </li>
    <li class="jobseeker_myinformation_exampleli" >
        Supervisor, collabarator, co worker etc
    </li>
    <li class="jobseeker_myinformation_buttonli">
        <input type="button" id="add-allocades" class="submitbutton" value="Add Reference" data-bind='click: $root.addFirstReference' />
    </li>
<!-- /ko -->

<!-- ko if: referenceArray -->

        <ul  class="jobseeker_list_li_ul"  data-bind="foreach: referenceArray">
            <li class="jobseekerSkillRelatedExperience_li">                                             
                <div  class="ListReference">
                    <div class="ListLanguage_Label">
                        <div style="width:-moz-max-content;"><label class="jobseeker_Reference" data-bind="    text: firstName"></label></div>
                        <div style="width:-moz-max-content;" ><label data-bind="    text: position"></label></div>
                    </div>
                    <div class="ListLanguage_Button">
                        <button class="delete_skillButton" data-bind = "click: $parent.deleteReference" >X</button>
                    </div>
                </div>                     
            </li>
        </ul>

<!-- /ko -->
