<!-- ko if: relatedExperienceCheck() == '0' -->
    <li class="jobseeker_myinformation_descriptionli">
        Provide some related experience for this skill
    </li>
    <li class="jobseeker_myinformation_exampleli" >
        company worked, Details etc.
    </li>
    <li class="jobseeker_myinformation_buttonli">
        <input type="button" id="add-allocades" class="submitbutton" value="Add Reference" data-bind='click: $root.addFirstRelatedExperience' />
    </li>
<!-- /ko -->

<!-- ko if: relatedExperienceArray -->
    <li class="jobseeker_myinformation_language_list_li_ul">
        <ul  class="jobseeker_list_li_ul"  data-bind="foreach: relatedExperienceArray">
            <li >
                 <div  class="ListReference">
                    <div class="ListLanguage_Label">
                        <label class="jobseeker_Reference" data-bind="    text: companyName"></label>
                        <label data-bind="    text: position"></label>
                    </div>
                    <div class="ListLanguage_Button">
                        <button class="delete_skillButton" data-bind = "click: $parent.deleteRelatedExperience" >X</button>
                    </div>
                </div>     
            </li>
        </ul>
    </li>
<!-- /ko -->
