<!-- ko if: demographicCheck() == '0' -->
    <li class='jobseeker_myinformation_descriptionli'>Where do you hail from?</li>
    <li class='jobseeker_myinformation_exampleli' >We just ask for reporting purpose- we wont sahre your personal information we will tailor your communication accordingly.</li>
    <li class='jobseeker_myinformation_buttonli'><input type='button' id='pitch-yourself' class='submitbutton' value='Add Information' data-bind='    click: addADemographic'  /></li>
<!-- /ko -->

<!-- ko if: demographicCheck() == '1' -->

    <li class='jobseeker_myinformation_personalcontainer_outerli'>
            <li class='jobseeker_myinformation_innerli' ><label>Birthdate</label></li>
            <li class='jobseeker_myinformation_innerli' ><label>Gender</label></li>
            <li class='jobseeker_myinformation_innerli'><label>Ethinicity</label></li>

    </li>
    <li class='jobseeker_myinformation_personalcontainer_outerli'>
            <li class='jobseeker_myinformation_innerli' ><label  data-bind='text: birthDate'></label></li>
            <li class='jobseeker_myinformation_innerli' ><label  data-bind='text: gender'></label></li>
            <li class='jobseeker_myinformation_innerli' ><label  data-bind='text: ethnicity'></label></li>
    </li>

<!-- /ko -->