<div data-bind='if: specialityTextbox'>
    
            <li class='jobSeeker_PersonalInformation_li' ><label class="personalInformation_Header">Industries</label></li>
            <li class='jobSeeker_PersonalInformation_li' ><label class="personalInformation_Header">Specialities</label></li>
            <li class='jobSeeker_PersonalInformation_li'><label class="personalInformation_Header">Security Clearance</label></li>
            <li class='jobSeeker_PersonalInformation_li' ><label class="personalInformation_Header">Willing to relocate</label></li>

        

            <li class='jobSeeker_PersonalInformation_li' ><label id='industries-label' class="personalInformationLabel" data-bind='    text: IndustryName'></label></li>
            <li class='jobSeeker_PersonalInformation_li' ><label id='speciality-label' class="personalInformationLabel" data-bind='    text: specialityTextbox'></label></li>
            <li class='jobSeeker_PersonalInformation_li' ><label id='SecurityCleareanceLabel-label'class="personalInformationLabel" data-bind='    text: SecurityCleareanceLabel'></label></li>
            <li class='jobSeeker_PersonalInformation_li' ><label id='WillingToRelocateLabel-label' class="personalInformationLabel" data-bind='    text: WillingToRelocateLabel'></label></li>

        </div>
<div data-bind='ifnot: specialityTextbox'>
    <li class='jobseeker_myinformation_descriptionli'>Tell us about yourself!</li>
    <li class='jobseeker_myinformation_exampleli' >Say something about your industries,specialities,etc.</li>
    <li class='jobseeker_myinformation_buttonli'><a class="bton btn-orange" href="" id='Add_First_personalInformation'  data-bind='    click: addFirstPersonalInformation' >Add Information</a></li>
</div>