<ul>
            <li class='jobseeker_registration_outerli'>
                <ul class='jobseeker_registration_ul'>
                    <li  class='jobseeker_myinformation_innerli'><label>You are applying for..</label></li>
                </ul>
            </li>
             <li class='jobseeker_registration_outerli'>
                <ul class='jobseeker_registration_ul'>
                    <li  class='jobseeker_myinformation_innerli'><label class="jobseeker_MessageEmployer" data-bind="text: jobPosition"></label></li>
                </ul>
            </li>
            <li class='jobseeker_registration_outerli'>
                <ul class='jobseeker_registration_ul'>
                    <li ><label data-bind="text: employerName"></label> | <label data-bind="    text: companyLocation"></label></li>
                </ul>
            </li>



</ul>