<!-- ko if: supportingMaterialCheck() == '0' -->
    <li class="jobseeker_myinformation_descriptionli">
        Provide some Supporting materials for this skill
    </li>
    <li class="jobseeker_myinformation_exampleli" >
        Awards, Webpage etc.
    </li>
    <li class="jobseeker_myinformation_buttonli">
        <input type="button" id="add-allocades" class="submitbutton" value="Add Reference" data-bind='click: $root.addFirstSupportingMaterial' />
    </li>
<!-- /ko -->

<!-- ko if: supportingMaterialArray -->
    <li class="jobseeker_myinformation_language_list_li_ul">
        <ul  class="jobseeker_list_li_ul"  data-bind="foreach: supportingMaterialArray">
            <li >
                <div  class="ListReference">
                    <div class="ListLanguage_Label">
                        <label class="jobseeker_Reference" data-bind="    text: title"></label>
                        <label data-bind="    text: description"></label>
                    </div>
                    <div class="ListLanguage_Button">
                        <button class="delete_skillButton" data-bind = "click: $parent.deleteSupportingMaterial" >X</button>
                    </div>
                </div>     
            </li>
        </ul>
    </li>
<!-- /ko -->
