<!-- ko if: awardCheck() == '0' -->
<section class="sectionModified box-white">

    <li class="jobseeker_myinformation_descriptionli">
        Tell us about some awards you've won.
    </li>
    <li class="jobseeker_myinformation_exampleli" >
        Rookie of the Year,Best Team Player,etc.
    </li>
    <li class="jobseeker_myinformation_buttonli">
        <a class="bton btn-orange" href="" id="add-allocades" data-bind='click: addFirstAward' >Add Accolades</a>
    </li>
</section>
<!-- /ko -->

<!-- ko if: awardArray -->
    <li class="jobseeker_myinformation_language_list_li_ul">
        <ul  class="jobseeker_list_li_ul"  data-bind="foreach: awardArray">
            <li>
                 <div  class="ListActivity">
                    <div class="ListActivity_Label">
                       <label class="jobseeker_Reference" data-bind="    text: Award"></label>                       
                    </div>
                    <div class="ListActivity_Button">
                        <button class="delete_LanguageButton" data-bind = "click: $parent.deleteAward" ><i class="fa fa-times fa-lg"></i></button>
                    </div>
                </div>
            </li>
        </ul>
       
    </li>
<!-- /ko -->
