	<div id="wrapFooter" class="clearfix">
		<div id="footer" class="clearfix">
			<div class="footerLeft">
				<ul class="menu">
					<li>
						<a href="#">Terms of Use</a>
					</li>
					<li>
						<a href="#">Privacy Policy</a>
					</li>
					<li>
						<a href="http://www.skillsmart.us/Skillsmart_overview.pdf">About Us</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
			<div class="footerRight">
				<div class="social">
					<a target="_blank" href="#"><img src="/Content/images/facebook.png" /></a>
					<a target="_blank" href="https://twitter.com/SkillSmartUS"><img src="/Content/images/twitter.png" /></a>
					<a target="_blank" href="http://www.linkedin.com/company/skillsmart"><img src="/Content/images/linkedin.png" /></a>
					<a target="_blank" href="#"><img src="/Content/images/google.png" /></a>
				</div>
			</div>
		</div>
		<div class="footerCopyright">
			<p>&copy; Copyright 2013, SkillSmart. All rights reserved.</p>
		</div>
	</div>