
#form_div 
{   
    overflow:auto;
    width:710px;
    background-color:#F2FAFE;
    margin:0 auto;
    padding-bottom:10px;
}
#main-div 
{
    overflow:auto;
    width:845px;
    background-color:#F0F8FF;
    margin:0 auto;

    padding-bottom:20px;
}
.resetbutton
{
         width:100px;
         height:50px;
         border-style:none;
         background-color:#99A1BF;
}
.resetbutton:hover
{
    background:#808080;
}
.submitbutton 
{
     width:150px;
         height:30px;
         border-style:none;
         background-color:#fc9949;
         color:white;
}
.submitbutton:hover
{
    background:#0094ff;
}
.editbutton 
{
    float:right;
    width:90px;
    height:30px;
    border-style:none;
    background-color:#999999;
    color:white;
  
}
.editbutton:hover
{
    background:#808080;
}
.savebutton 
{
    width:50px;
    height:30px;
    border-style:none;
    background-color:#0094ff;
    color:white;
    margin-bottom:10px;
}
.deletebutton {

    width:60px;
    height:30px;
    border-style:none;
    background-color:red;
    color:white;
    float:right;
    margin-right:10px;
    margin-bottom:10px;
}
.cancelbutton {
    width:60px;
    height:30px;
    border-style:none;
    background-color:lightgray;
    color:white;   
}
.individual_editbutton
 {
    width:50px;
    height:30px;
    border-style:none;
    background-color:#F0F8FF;    
    margin-left:550px;
    margin-top:10px;
   
}
.individual_editbutton_tab
 {
    width:50px;
    height:30px;
    border-style:none;
    background-color:#F0F8FF;    
    /*margin-left:550px;*/
    position:absolute;
    right:50px;
    margin-top:10px;
   
}
.related_skillButton {
    width:25px;
    border-style:none;
    float:right;
    border-radius:20px;
    background-color:#fc9949; 
}
ul {
    list-style-type: none;
    list-style:none;
}
li {
    list-style-type: none;
    list-style:none;
}
.marginclass 
{
    padding-top:10px;
}

#outer_container 
{
       width:100%;
}

#banner_container {
    border:1px solid#dddddd ;
    height:100px;
    width:98%;
    background-color:midnightblue;
    margin: 0 auto;
}
#content_container {
   width:100%;
   min-height:480px;
}
#left_container {
    width:20%;
     background-color:#1eeeee;
}
#right_container {
    width:20%;
     background-color:#1eeeee;
}
h2 
{
    color:white;  
}
sup
{
    color:red;
}
body {
 background:white;
 font-family: 'Questrial', sans-serif;
 color: #6a747c;
 margin: 0;
 padding: 0;
 font-size: 11px;
}

.tab_style {
 background:white;
 font-family: 'Questrial', sans-serif;
 color: #6a747c;
 margin: 0;
 padding: 0;
 font-size: 11px;
}

a
{
    color:white;
    text-decoration:none;
}

.validationMessage {
    visibility:hidden;
    font-size:0px;
}
.li_style 
{
    width:830px;float:left;
}
.inputs 
{ 
    height:25px; 
    border: 1px solid #EBE6E2; 
    border-radius: 2px; 
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -ms-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
    width:200px; 
        
} 
.inputs:focus
{ 
    border-color: black; 
    outline: none; 
}

select {
    height:28px;
}
.common_banner 
{
    height:50px;
    width:800px;
    margin: auto;
    margin-top:10px;
    background-color:#333333; 
    position:relative;
    color:white;
    font-size:medium;
}
.common_background
{
    width:800px;
    overflow:auto;
    margin:0px auto;
    background-color:white;
    
}
.common_tab_background
{
    width:750px;
    overflow:auto;
    margin:0px auto;
    background-color:white;
    
}
.add_div {
     width:720px;
    overflow:auto;
    margin:0px auto;
    background-color:#F0F8FF;
    margin-top:10px;
}
.tab_savebackground_div {
     width:720px;
    overflow:auto;
    margin:0px auto;
    background-color:#F0F8FF;
    margin-top:40px;
}
/*#aboutme 
{
    height:100px;
    width:400px;
}
#Certification_Details 
{
    height:90px;
    width:430px;
}*/
.common_textarea {
 height:90px;
    width:430px;
     
    border: 1px solid #EBE6E2; 
    border-radius: 2px; 
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -ms-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
   
}
.common_textarea:focus
{ 
    border-color: black; 
    outline: none; 
}
.language_label 
{
    background-color:#F2FAFE;
    display:block;
    width:95px;
    height:30px;
    text-align:center;
    padding-top:15px;
    font-size:12px;
    margin-top:20px;
    margin-bottom:10px;
}
#awards-description 
{
    height:100px;
    width:400px;
    margin-top:10px;
}


#tabs { 
	margin-left:25px; 
	background: none; 
	border-width: 0px; 
    width:800px;
    background-color:white;
} 
#tabs .ui-tabs-nav { 
	padding-left: 0px; 
	background: transparent; 
	border-width: 0px 0px 1px 0px; 
	-moz-border-radius: 0px; 
	-webkit-border-radius: 0px; 
	border-radius: 0px; 
        
} 
#tabs .ui-tabs-panel { 
	border-width: 0px 1px 1px 1px; 
}

ul li a {
    background-color: #0094ff;
    height:30px;
}
ul li a:focus {background-color: white;}

.jobseeker_list_a 
{
    color:blue;
    text-decoration:none;
    background-color: #F2FAFE;
}

.myinformation {
    height:50px;width:800px;background-color:#F0F8FF;margin:0 auto;
    color:black;
}

/* FOOTER STYLES */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


#wrapFooter {
	background: none repeat scroll 0 0 #6a747c;
	width: 98%;
}

#footer {
	width: 98%;
	margin: 0 auto;
	padding: 30px 0;
}

.footerLeft {
	display: block;
	float: left;
}

.footerLeft .menu {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

.footerLeft .menu li {
	display: block;
}

.footerLeft .menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
    background-color:#6a747c;
}

.footerLeft .menu li a:hover {
	color: #edf2f4;
}

.footerRight {
	display: block;
	float: right;
}

.social {
	display: block;
	text-align: right;
}

.social img {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	padding: 0 5px;
}

.social img:hover {
	opacity: 0.8;
}

.footerCopyright {
	width: 98%;
	margin: 0 auto;
}

.footerCopyright p {
	display: block;
	color: #FFFFFF;
	font-size: 13px; 
	text-align: left;
	padding: 20px 0 30px;
	margin: 0;
}

