.jobseeker_additionalinformation_innerli 
{
    width:230px;
    float:left;
}

.jobseeker_additionalinformation_innerli_save_button 
{
    width:60px;
    float:left;
}
.jobseeker_additionalinformation_preferredmethod_innerli 
{
    width:100px;
    float:left;
}
.jobseeker_additionalinformation_liwidth 
{
    width:200px;
}
.jobseeker_additionalinformation_city_outerli 
{
    width:630px;
    float:left;
    /*padding-top:10px;*/
    padding-top:5px;
}
.jobseeker_additionalinformation_city_ul 
{
    width:630px;
}
#jobseeker_list_accountdetails_banner_div {
    height:50px;
    width:710px;
    background-color:black;
    margin:0 auto;
    color:white;
}
.jobseeker_registration_outerli 
{
    width:600px;
    float:left;
    /*padding-top:10px;*/
    padding-top:5px;
}
.jobseeker_registration_ul 
{
    width:600px;
    float:left;
}
.jobseeker_registration_innerli 
{
    width:460px;
    float:left;
}
#jobseeker-registration 
{
    overflow:auto;
    width:700px;
    background-color:#F2FAFE;
    margin:0 auto;
}
#jobseeker_registration_signup_div 
{
    height:50px;
    width:700px;
    background-color:black;
    margin:0 auto;
    color:white;
    
}
.jobseeker_list_li_ul 
{
    width:600px;
    float:left;
}
.jobseeker_list_innerli
{
   width:150px;
   float:left;
}
#jobseeker_list_banner_div 
{
    height:50px;
    width:710px;
    background-color:black;
    margin:0 auto;
    color:white;
}
.jobseeker_myinformation_outerli 
{
    width:400px;
    float:left;
   /*padding-top:10px;*/
    padding-top:5px;
}
.jobseeker_myinformation_ul
{
    width:400px;
    float:left;
    
}
.jobseeker_myinformation_innerli 
{
   width:150px;
   float:left;
   
   padding-bottom:5px; 
}
.jobseeker_myinformation_personalcontainer_outerli 
{

    width:700px;float:left;
    /*padding-top:10px;
    padding-bottom:10px;*/
      padding-top:5px;
    padding-bottom:5px;
}
.jobseeker_myinformation_personalcontainer_ul 
{

    width:700px;float:left;
    
}
#myinformation-div 
{
    height:50px;
    width:800px;
    background-color:#F0F8FF;
    margin:0 auto;
}
#jobseeker-myinformation-div {
    overflow:auto;
    width:800px;
    margin:0 auto;
    background-color:white;
}
#personal_information-banner-div 
{
    height:50px;
    width:800px;
    margin:10px auto;
    background-color:#333333; 
    position:relative;
}
#personal-container 
{
    width:800px;
    overflow:auto;
    margin:0px auto;
    background-color:white;
}
#edit-personal-information
{
    width:800px;
    overflow:auto;
    margin:0px auto;
    background-color:white;
}
.jobseeker_myinformation_descriptionli 
{
    color:#0094ff;
    text-align:center;
    font-size:medium;
}
.jobseeker_myinformation_exampleli
{
    text-align:center;
}
.jobseeker_myinformation_buttonli
{
    text-align:center;
    padding-top:10px;
}
.jobseeker_myinformation_select 
{
    /*height:28px;*/
    width:200px;
    margin-top:10px;    
    margin-bottom:10px;

}
.jobseeker_myinformation_edit_personal_li {

    width:700px;
    float:left;
    padding-top:10px;
}
.jobseeker_myinformation_edit_personal_ul {

    width:700px;
    float:left;
 
}

.jobseeker_myinformation_list_tab_main_div 
{

    overflow:auto;
    border-style:solid;
    border-width:1px;  
    width:740px;
    margin-top:35px;
    font-family: 'Questrial', sans-serif; 
    color: #6a747c;
}
.jobseeker_myinformation_list_tab_sub_div 
{

    margin:10px;
}
.jobseeker_myinformation_list_tab_workExperience_label {
    font-size:large;
}
.jobseeker_myinformation_list_tab_label {
    font-size:medium;
}
.jobseeker_myinformation_language_list_li_ul {
    width:650px;
    float:left;

}
.jobseeker_myinformation_language_list_inner_li {
    width:200px;
    float:left;
    font-size:15px;
}
.jobseeker_demographic_innerli 
{
   width:105px;
   float:left;    
}
.jobseeker_demographicDay_innerli 
{
    width:75px;
    float:left;
}
.jobseeker_Notification_innerli {
float:right;
}

.jobseeker_MessageEmployer {

font-size:15px;
font-weight:bold;
}
.jobseeker_MessagePosition {

font-size:13px;

}
.jobseeker_notification_ul {
 width:730px;
    float:left;
}

.jobseeker_AppliedJobs_ul_li {
float:left;width:676px;

}
.jobseeker_noOfJobs {
    width:10px;
    height:10px;
    text-align:center;
    background-color:orange;
}
.jobseekerList
{
   width:120px;
   float:left;
}
#jobs_div 
{
    overflow:auto;
    width:845px;
    
    margin:0 auto;

    padding-bottom:20px;
}
.jobsApplied {
    width:750px;
    overflow:hidden;
    margin:0px auto;
    background-color:white;
    

}
.jobseekerSkillText {
    font-size:15px;
     height:10px;
    float: left;
   /* width: 90px;*/
}
.jobseekerSkillRelatedExperience_li {

float:left;margin-left:10px;
}
.jobseeker_Reference {

font-size:16px;
color:#007dc3;
float:left;
}